@tailwind base;

@layer base {
    html {
        font-size: 1.4rem;
    }
}

@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Schoolbell-Regular';
    src: url('../fonts/Schoolbell-Regular.ttf') format('truetype');
}